In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('data.csv')

In [12]:
data

    color         shape fruitname  eat
0  yellow         round     mango  yes
1  yellow  cylinderical    banana   no
2     red         round     apple  yes
3  yellow         round     lemon  yes

In [13]:
concepts = np.array(data)[:,:-1]

In [14]:
concepts

array([['yellow', 'round', 'mango'],
       ['yellow', 'cylinderical', 'banana'],
       ['red', 'round', 'apple'],
       ['yellow', 'round', 'lemon']], dtype=object)

In [15]:
target = np.array(data)[:,-1]

In [16]:
target

array(['yes', 'no', 'yes', 'yes'], dtype=object)

In [17]:
def train(con, tar):
    for i, val in enumerate(tar):
        if val == 'yes':
            specific_h = con[i].copy()
            break
            
    for i, val in enumerate(con):
        if tar[i] == 'yes':
            for x in range(len(specific_h)):
                if val[x] != specific_h[x]:
                    specific_h[x] = '?'
                else:
                    pass
    return specific_h

In [18]:
print(train(concepts, target))

['?' 'round' '?']